@model AnaBilimDaliViewModel

<form asp-action="AnaBilimDali" method="post">
    <div class="form-group">
        <label asp-for="Name">Ana Bilim Dalı Adı</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <!-- Diğer AnaBilimDalı bilgileri alanları eklenebilir -->
    <button type="submit" class="btn btn-primary">Ana Bilim Dalı Ekle</button>
</form>
@Html.Partial("_PoliklinikEkle")