@model Hastane.Entities.AnaBilimDali
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
@using (Html.BeginForm("AnaBilimDaliGuncelle", "Admin", FormMethod.Post))
{

    <b>Ana Bilim Dalı</b>
    @Html.TextBoxFor(x => x.Id, new { @class = "form-control", required = "Bu Alan Boş Bırakılamaz" })
    <br />
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control", required = "Bu Alan Boş Bırakılamaz" })
    <br />
    <button class="btn btn-info">Güncelle</button>


}