@using Hastane.Entities
@model List<User>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Adı</th>
        <th>Soyadı</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Name</td>
            <td>@x.Surname</td>
            <td><a href="/Admin/KullaniciSil/@x.UserID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/KullaniciGetir/@x.UserID" class="btn btn-success">Güncelle</a></td> 

        </tr>
    }
</table>