@model List<RandevularımViewModel>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<table class="table table-bordered">
    <tr>
        <th>Ana Bilim Dalı</th>
        <th>Poliklinik</th>
        <th>Doktor</th>
        <th>Tarih</th>
        <th>Sil</th>


    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.AnabilimdaliName</td>
            <td>@x.PoliklinikName</td>
            <td>@x.DoktorName</td>
            <td>@x.RandevuDate</td>
            <td><a href="/Admin/RandevuSil/@x.Id" class="btn btn-danger">Sil</a></td>


        </tr>
    }
</table>