@{
    ViewData["Title"] = "Home Page";
}

<main>






    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Bir Hastanaden Daha Fazlası..
                 <span class="text-body-secondary"></span></h2>
                <p class="lead">
                    "Hastanemizde Görev Yapan Uzman Doktorlar
                    Hastanemizin kalitesini ve uzmanlığını temsil eden hekim kadromuz, alanında uzman, deneyimli ve hasta odaklı hizmet anlayışını benimsemiş doktorlardan oluşmaktadır. Her biri alanında öncü ve başarılı olan doktorlarımız, hastalarımıza en iyi sağlık hizmetini sunabilmek adına titizlikle çalışmaktadır. Hastalarımızın sağlığına ve ihtiyaçlarına duyarlı olan doktorlarımız, modern tıbbın gerektirdiği bilgi ve teknikleri en üst düzeyde sunarak her bir hasta için özel bir tedavi planı oluşturmayı hedefler. Hekimlerimiz, sadece mesleki becerileriyle değil, aynı zamanda insan odaklı yaklaşımlarıyla da tanınırlar. Her hasta için sağlık ve mutluluk odaklı bir tedavi sunarak, hastalarımızın sağlıklı bir yaşam sürmelerine destek olmayı amaçlarlar." 
                </p>
            </div>
            <div class="col-md-5">
                <img src="https://image.milimaj.com/i/milliyet/75/869x477/5def6bb855428319c4f724d7.jpg" alt="Resminiz" class="img-fluid mx-auto" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Sağlıkta Teknolojiye Yenilik Katıyoruz.. <span class="text-body-secondary"></span></h2>
                <p class="lead">"Hastanemiz, sağlık hizmetlerinde sunduğu üstün teknolojilerle öne çıkan, çağdaş tıbbın en son yeniliklerini hastalarına sunan bir kuruluştur. Gelişmiş teşhis ve tedavi teknolojilerini bünyesinde barındıran hastanemiz, her bir hasta için en etkili ve hassas tedavi yöntemlerini uygulayarak hastalıklarla mücadelede öncü bir konumda yer alır. Uzman hekim kadromuz, bu teknolojik imkanları en etkin şekilde kullanarak hastalarımıza en iyi ve kaliteli sağlık hizmetini sunmayı hedefler. Hastalarımızın sağlık ve mutluluklarını teknolojinin gücüyle birleştirerek, modern tıbbın getirdiği imkanları en üst seviyede değerlendiririz."</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://preview.free3d.com/img/2020/06/2398836227366192565/akczv18w.jpg" alt="Resminiz" class="img-fluid mx-auto" width="500" height="500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">İyileşme Yolculuğunda Yanınızdayız <span class="text-body-secondary"></span></h2>
                <p class="lead">"Hastalarımızla kurduğumuz samimi ve sağlıklı iletişim, tedavi sürecinin temelini oluşturur. Hastalarımızın duygularını anlamak, ihtiyaçlarını dinlemek ve onlara destek olmak, sağlık hizmetlerimizin öncelikli unsurları arasındadır. Her hastamızın bireysel ihtiyaçlarına yönelik özenle hazırlanan tedavi planlarımızı, onlarla açık ve anlaşılır bir şekilde paylaşarak karşılıklı güven ve anlayışı geliştiririz. Bu yaklaşım, hastalarımızın sağlık yolculuğunda bizimle birlikte oldukları sürece her zaman varlığımızı hissettirir, yanlarında olduğumuzu ve destekçileri olduğumuzu hissettiririz."</p>
            </div>
            <div class="col-md-5">
                <img src="https://st3.depositphotos.com/13193658/31759/i/450/depositphotos_317590504-stock-photo-cropped-view-doctor-white-coat.jpg" alt="Resminiz" class="img-fluid mx-auto" width="500" height="500">
            </div>  
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

    </div><!-- /.container -->
    <!-- FOOTER -->

</main>
