@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>"Gizlilik Politikası: Bizler hastalarımızın gizliliğini ön planda tutan bir kurumuz. Hastalarımızın kişisel bilgileri, etik ve yasal standartlar çerçevesinde korunmaktadır. Verileriniz, sadece tedavi ve sağlık hizmetlerinin sağlanması için kullanılır ve asla üçüncü taraflarla paylaşılmaz. Tıbbi verileriniz, gizlilik ilkeleri doğrultusunda saklanır ve gerekli güvenlik önlemleri alınarak korunur. Bizimle paylaştığınız her bilgi, sizin sağlığınızı iyileştirmek ve size daha iyi hizmet sunmak için kullanılır. Gizliliğinizi önemsiyor, verilerinizin güvenliğini sağlıyoruz."</p>

